[global]
source_language = da
target_language = en
sentence_file = /home/svetho/Documents/sentenceMiningProject/DanishSentences.txt
output_folder = /home/svetho/Documents/sentenceMiningProject/output/
media_folder = /mnt/c/Users/ursfa/AppData/Roaming/Anki2/Danish/collection.media/

[debug]
debug = True
debug_sentence_file =
debug_output_folder = /home/svetho/Documents/sentenceMiningProject/output-debug/
debug_media_folder = /home/svetho/Documents/sentenceMiningProject/media-debug/
