[global]
source_language = da
target_language = en
sentence_file = /Users/svetho/Documents/sentenceMiningProject/DanishSentences.txt
output_folder = /Users/svetho/Documents/sentenceMiningProject/output/
media_folder = /Users/svetho/Library/Application Support/Anki2/Danish/collection.media/

[debug]
debug = True
debug_sentence_file =
debug_output_folder = /Users/svetho/Documents/sentenceMiningProject/output-debug/
debug_media_folder = /Users/svetho/Documents/sentenceMiningProject/media-debug/
